colgroup col.success {
  background-color: #dff0d8;
}
colgroup col.error{
  background-color: ;
}
colgroup col.warning {
  background-color: #F7D358;
}
colgroup col.gris {
  background-color: #E6E6E6;
}
colgroup col.azul {
  background-color: #E0ECF8;
}
